section(class=["networks", "bg-fav-occre-dark", "fg-fav-beige-light"])
  div(class=["content", "align-center"])
    ul(class=["network-list", "centered"])
      li
        a(class="fg-fav-beige-light no-decor" href="https://github.com/dreamyguy/" title="GitHub")
          i(class="icon icon-3x icon-fa-github")
      li
        a(class="fg-fav-beige-light no-decor" href="https://twitter.com/dreamyguy" title="Twitter")
          i(class="icon icon-3x icon-fa-twitter")
      li
        a(class="fg-fav-beige-light no-decor" href="https://www.linkedin.com/in/dreamyguy" title="LinkedIn")
          i(class="icon icon-3x icon-fa-linkedin-square")
      li
        a(class="fg-fav-beige-light no-decor" href="http://stackoverflow.com/users/909777/wallace-sidhr%C3%A9e" title="Stack Overflow")
          i(class="icon icon-3x icon-fa-stack-overflow")
